.bold{
	font-weight: bold;
}
.card-hotel{
	flex: 1 200px; /* 1 -> mantiene el ancho inicial (con 2 lo duplicaria) 150px-> especifica el ancho definido */
	margin-top: 10px;
}
.span-more-info{
	width: 100%;
	--text-align: center;
}
.card-img-top{
	margin-bottom: 10px;
	border-radius: 3px;
}

.card-hotel .btn{
	margin: 0 5% 5% 5%;
}

.footer-address-icon{
	padding-right: 10px;
}
.btn-reserva{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.btn-facebook{
	color: ;
}
.btn-intagram{
	color: ;
}
.btn-twitter{
	color: ;
}
.btn-google{
	color: ;
}

.tab-content{
	padding-top: 10px;
}




/* Pasado a styles.scss o styles.css
.jumbotron{
	background-image: url(../images/Banner/BarcelonaPort.jpeg);
	background-size: cover;
	background-position: center center;
	background-color: yellow;
	color: white;
	margin-top: 56px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-header span{
	color: gold; 
}
.texto-cita{
	font-style: italic;
	color: #7e7e82f7;
	text-align: justify;
}
.carousel-caption{
	text-shadow: 3px 3px #000000;
	background-color: rgba(0,0,0,0.05);
}

.btn-icon{
	margin-right: 5px;
	color: lightblue;
}


*/