// Declaración de variables
@yellow: #fffa19;
@red: #F90303;
@green: #abff9c;

// Declaración de Mixin:
.margenes(@top, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron_pg(@bg_image, @bg_size, @bg_position){
  background-image: @bg_image;
  background-size: @bg_size;
  background-position: @bg_position;
}


.bold {
  font-weight: bold; }

.jumbotron {
  color: white;
  .margenes(56px, 0px);
}
#jumbotron_home {
  .jumbotron_pg(url(../images/Banner/BarcelonaPort.jpeg), cover, center center);
  background-color: @yellow;
}

#jumbotron_about {
  .jumbotron_pg(url(../images/Banner/ocio.jpg), cover, center bottom);
  background-color: #F90303; }

#jumbotron_precios {
  .jumbotron_pg(url(../images/Banner/Skyline.png), auto, center);
  background-color: #abff9c; }

#jumbotron_precios h1 {
  background-color: #abff9c;
  width: fit-content; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}

.carousel-caption {
  text-shadow: 3px 3px #000000;
  background-color: rgba(0, 0, 0, 0.05); }

.card-header span {
  color: gold; }

.card-hotel {
  flex: 1 200px;
  /* 1 -> mantiene el ancho inicial (con 2 lo duplicaria) 150px-> especifica el ancho definido */
  .margenes(10px, 0px);
}

.span-more-info {
  width: 100%;
  --text-align: center; }

.card-img-top {
  .margenes(0px, 10px);
  border-radius: 3px; 
}

.card-hotel .btn {
  margin: 0 5% 5% 5%; }

.btn-icon {
  margin-right: 5px;
  color: lightblue; }

.texto-cita {
  font-style: italic;
  color: #7e7e82f7;
  text-align: justify; }

.footer-address-icon {
  padding-right: 10px; }

.btn-reserva {
  width: 90%;
  .margenes(auto, auto);
}

.tab-content {
  padding-top: 10px; }
