.bold {
  font-weight: bold;
}
.jumbotron {
  color: white;
  margin-top: 56px;
  margin-bottom: 0px;
}
#jumbotron_home {
  background-image: url(../images/Banner/BarcelonaPort.jpeg);
  background-size: cover;
  background-position: center center;
  background-color: #fffa19;
}
#jumbotron_about {
  background-image: url(../images/Banner/ocio.jpg);
  background-size: cover;
  background-position: center bottom;
  background-color: #F90303;
}
#jumbotron_precios {
  background-image: url(../images/Banner/Skyline.png);
  background-size: auto;
  background-position: center;
  background-color: #abff9c;
}
#jumbotron_precios h1 {
  background-color: #abff9c;
  width: fit-content;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.carousel-caption {
  text-shadow: 3px 3px #000000;
  background-color: rgba(0, 0, 0, 0.05);
}
.card-header span {
  color: gold;
}
.card-hotel {
  flex: 1 200px;
  /* 1 -> mantiene el ancho inicial (con 2 lo duplicaria) 150px-> especifica el ancho definido */
  margin-top: 10px;
  margin-bottom: 0px;
}
.span-more-info {
  width: 100%;
  --text-align: center;
}
.card-img-top {
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.card-hotel .btn {
  margin: 0 5% 5% 5%;
}
.btn-icon {
  margin-right: 5px;
  color: lightblue;
}
.texto-cita {
  font-style: italic;
  color: #7e7e82f7;
  text-align: justify;
}
.footer-address-icon {
  padding-right: 10px;
}
.btn-reserva {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}
.tab-content {
  padding-top: 10px;
}
