$yellow: #fffa19; // aquí definimos el color amarillo de toda la web - #fffa19;
$red: #F90303;
$green: #abff9c;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin jumbotron_pg($bg_image, $bg_size, $bg_position){
	background-image: $bg_image;
	background-size: $bg_size;
	background-position: $bg_position;
}

/* añadimos los estilos del main.css para combinarlos con las variables */

.bold{
	font-weight: bold;
}
.jumbotron{
	color: white;
	@include margenes(56px, 0px);
	/*
	@include jumbotron_pg(url(../images/Banner/BarcelonaPort.jpeg), cover, center center);
	*/
	background-color: $yellow;
}
#jumbotron_home{
	@include jumbotron_pg(url(../images/Banner/BarcelonaPort.jpeg), cover, center center);
	background-color: $yellow;
}
#jumbotron_about{
	@include jumbotron_pg(url(../images/Banner/ocio.jpg), cover, center bottom);
	background-color: $red;
}
#jumbotron_precios{
	@include jumbotron_pg(url(../images/Banner/Skyline.png), auto, center);
	background-color: $green;
}
#jumbotron_precios h1{
	background-color: $green;
    width: fit-content;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}
.carousel-caption{
	text-shadow: 3px 3px #000000;
	background-color: rgba(0,0,0,0.05);
}
.card-header span{
	color: gold; 
}
.card-hotel{
	flex: 1 200px; /* 1 -> mantiene el ancho inicial (con 2 lo duplicaria) 150px-> especifica el ancho definido */
	@include margenes(10px, 0px);
}
.span-more-info{
	width: 100%;
	--text-align: center;
}
.card-img-top{
	@include margenes(0px, 10px);
	border-radius: 3px;
}

.card-hotel .btn{
	margin: 0 5% 5% 5%;
}
.btn-icon{
	margin-right: 5px;
	color: lightblue;
}
.texto-cita{
	font-style: italic;
	color: #7e7e82f7;
	text-align: justify;
}
.footer-address-icon{
	padding-right: 10px;
}
.btn-reserva{
	width: 90%;
	@include margenes(auto, auto)
}

.tab-content{
	padding-top: 10px;
}

